@model List<WebApp_FullProject.Models.PageSettings>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Sections</h1>

        <!-- DataTales Example -->
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("Create", "Setting")" class="btn btn-primary mb-3">Create</a>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Logo</th>
                                <th>Title</th>
                                <th>Subtitle</th>
                                <th>Copyright</th>
                                <th>Backgroud image</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Logo</td>
                                <td>@item.Title</td>
                                <td>@item.Subtitle</td>
                                <td>@item.Copyright</td>
                                <td>
                                    <img src="~/Uploads/@item.BgImage" alt="Alternate Text" width="100" />
                                </td>
                                <td>
                                    <a href="@Url.Action("Update","Setting", new { id=item.Id })">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a onclick="return confirm ('Are you sure?')" href="@Url.Action("Delete","Setting", new { id=item.Id })">
                                        <i class="fas fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

