@model WebApp_FullProject.Models.Sections
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form class="user" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <img src="~/Uploads/@Model.Image" alt="Alternate text" width="100" />
            @Html.LabelFor(m => m.ImageFile)
            @Html.TextBoxFor(m => m.ImageFile, new { @class = "form-control form-control-user", @type = "file" })
            @Html.ValidationMessageFor(m => m.ImageFile, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subtitle)
            @Html.TextBoxFor(m => m.Subtitle, null, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Subtitle, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Page)
            @Html.TextBoxFor(m => m.Page, null, new { @class = "form-control form-control-user" })
            @Html.ValidationMessageFor(m => m.Page, null, new { @class = "text-danger" })
        </div>
        <input type="hidden" name="Image" value="@Model.Image" />
        <input type="hidden" name="CreateDate" value="@DateTime.Now" />
        <button class="btn btn-primary btn-user btn-block">Update</button>
    </form>
</body>
</html>

